@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

/* 
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace; 
*/

/* 
? --Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
? --Whitespace Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --gray-1: #333333;
  --gray-2: #4F4F4F;
  --gray-3: #BDBDBD;
  --light: #FFFFFF;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Space Mono', monospace;
  background: var(--light);
}
.page-label {
  position: absolute;
  top: 4rem;
  left: 7.7rem;
  color: var(--gray-1);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.3rem;
  text-transform: uppercase;
}
.page-content {
  padding: 15rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}
.img-box {
  max-width: 60rem;
}
.img-box img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  font-family: 'Space Mono', monospace;
}
.text-box h1 {
  font-size: 5.2rem;
  font-weight: 700;
  color: var(--gray-1);
}
.text-box p {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--gray-2);
}
.text-box button {
  text-transform: uppercase;
  width: 30%;
  border: none;
  padding: 2.4rem;
  margin-top: 3.2rem;
  font-size: 1.2rem;
  font-family: 'Space Mono', monospace;
  cursor: pointer;
  background: var(--gray-1);
  color: var(--light);
}
.text-box button:hover {
  background: var(--gray-2);
}
/* ? Footer */
footer {
  text-align: center;
  padding: 1.2rem 2.4rem;
  margin-top: 1rem;
}
.user-footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--gray-2);
}
.user-footer a, .user-footer a:visited {
  color: var(--gray-2);
  text-decoration: none;
}
.username {
  font-weight: 700;
  text-decoration: underline;
}

/* Media queries */
@media (max-width: 1350px) {
  .page-content {
    padding: 15rem 2.4rem;
  }
  .page-label {
    left: 2.4rem;
  }
}
@media (max-width: 900px) {
  .page-content {
    flex-direction: column;
    gap: 6.4rem;
  }
  .text-box button {
    width: 50%;
  }
}